.currency-rates-page {
    width: auto;
    margin-top: 16px;
    margin-left: 3%;
    margin-right: 1%;
    margin-bottom: 20px;
    overflow: hidden;
}

h3 {
    margin-left: 16px;
}

#CurrRateHistoryTable .ht-cell {
    width: max-content;
    text-align: center;
    margin-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#CurrRateHistoryTable {
    width: 100%;
}


.form {
    padding: 8px 0 !important;
}
#CurrRateInputDate {
    height: 45px;
    width: 100%;
}

.form label {
    margin-bottom: 4px;
}

#CurrecyRateForm {
    margin-left: 13px;
}


#CurrRatePlot {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-left: 10px;
    height: auto;
}

#checkReverse {
    margin-top: 4px;
    margin-left: 10px;
    height: 28px;
    width: 48px;
}

#plotFilters {
    margin-left: 50px;
}

.currPlotText {
    margin-left: 36px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"] {
    margin: 0;
}

.checkbox-container .checkboxLabel {
    margin: 0;
    white-space: nowrap;
}

#checkReverse, #checkReverseLabel {
    margin-top: 24px;
    height: 28px;
}

#checkReverseLabel {
    text-align: left;
}

@media only screen and (max-width: 800px) {
    .CurrRate-plotComponent {
        display: none;
    }
}