.deposit-page {
    width: auto;
    margin-top: 16px;
    margin-left: 3%;
    margin-right: 1%;
    margin-bottom: 20px;
    overflow: hidden;
}

h3 {
    margin-left: 16px;
}

#openDepositsTable,
#closedDepositsTable {
    width: 100%;
}

#openDepositsTable .ht-cell,
#closedDepositsTable .ht-cell {
    width: fit-content;
    text-align: right;
    margin-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.form {
    padding: 8px 0 !important;
}

.form label {
    margin-bottom: 4px;
    text-align: center;
    width: 100%;
    display: block;
}

#inputDateOut, #inputDateIn {
    height: 43px;
    width: 100%;
}

.Deposit-middlerow {
    margin-top: 6px;
    margin-bottom: 6px;
}