.deposit-page {
    width: 100%;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-left: 16px;
}

#openDepositsTable,
#closedDepositsTable {
    width: 100%;
}

#openDepositsTable .ht-cell,
#closedDepositsTable .ht-cell {
    width: fit-content;
    text-align: right;
    margin-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.form {
    padding: 8px 0 !important;
}

/* .form .row > .col,
.form .row > [class^="col-"] {
    margin-bottom: 0 !important;
    padding-right: 6px;
    padding-left: 6px;
} */

.form label {
    margin-bottom: 4px;
    text-align: center;
    width: 100%;
    display: block;
}

.datePicker {
    height: 36px;
    width: 100%;
}

