.expense-page {
    width: auto;
    margin-top: 16px;
    margin-left: 3%;
    margin-right: 1%;
    margin-bottom: 20px;
    overflow: hidden;
}

h3 {
    margin-left: 16px;
}

#expenseHistoryTable {
    width: 100%;
}

#expenseHistoryTable .ht-cell {
    width: fit-content;
    text-align: right;
    margin-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.form {
    padding: 8px 0 !important;
}

.form .row>.col,
.form .row>[class^="col-"] {
    margin-bottom: 0 !important;
    padding-right: 4px;
    padding-left: 4px;
}

.form label {
    margin-bottom: 4px;
}

#SubmitButton {
    margin-top: 16px;
}

#ExpenseInputDate {
    height: 43px;
    width: 100%;
}

#CancelButton {
    margin-top: 20px;
    margin-left: 0px;
    background-color: red;
}

.editable-cell {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

.editable-cell:hover {
    color: #0056b3;
}

#expense-year-selector {
    width: 100%;
    margin-bottom: 8px;
    float: right;
}