.income-page {
    width: auto;
    margin-top: 16px;
    margin-left: 3%;
    margin-right: 1%;
    margin-bottom: 20px;
    overflow: hidden;
}

h3 {
    margin-left: 16px;
}

#incomeHistoryTable {
    width: 100%;
}

#incomeHistoryTable .ht-cell {
    width: fit-content;
    text-align: right;
    margin-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.form {
    padding: 8px 0 !important;
}

#IncomeInputDate {
    height: 43px;
    width: 100%;
}

.form label {
    margin-bottom: 4px;
}

.editable-cell {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

.editable-cell:hover {
    color: #0056b3;
}

#income-year-selector {
    width: 100%;
    margin-bottom: 8px;
    float: right;
}