.invest-transactionsPage {
    width: auto;
    margin-top: 16px;
    margin-left: 3%;
    margin-right: 1%; 
    margin-bottom: 20px;
}

#investTransactionsHistoryTable .ht-cell {
    width: fit-content;
    text-align: right;
    margin-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}
