.invest-optionsPage {
    width: 90%;
    margin-top: 16px;
    margin-left: 3%;
    margin-right: 2%; 
    margin-bottom: 20px;
}

#investBalanceTable .ht-cell {
    width: fit-content;
    text-align: right;
    margin-top: 8px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#investBalanceTable {
    width: 100%;
}

#save-spv-btn {
    width: 80%;
}

#stock-label {
    width: fit-content;
}

#invest-spv-form {
    margin-left: 6px;
}