.options-page {
    width: auto;
    margin-top: 16px;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 20px;
}

#db-control-section {
    margin-top: 20px;
}

.toggle-input {
    height: 40px;
    width: 70%;
}

#mark-form {
    margin-left: 8px;
}