.reports-page,
.year-report-page {
    width: auto;
    margin-top: 16px;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 20px;
    overflow: hidden;
}

.year-report-page>.row>.col-md-3,
.year-report-page>.row>.col-md-4 {
    margin-left: 8px;
    margin-right: 12px;
}

.ReportsTable-FormRow {
    margin-top: 8px;
    margin-bottom: 8px;
}

.ReportsTable-FormSelect {
    width: 100%;
}

.genRep_HeaderCell {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid;
    text-align: center;
    font-weight: bold;
    min-width: 80px;
    max-width: 150px;
    background-color: #b7b7b7;
}

.genRep_DataCell {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid;
    text-align: right;
    min-width: 80px;
    max-width: 100px;
}

#rep-table {
    margin-top: 16px;
    width: 100%;
}

#income-table,
#expense-table,
#total-table {
    width: 100%;
}

#income-table .ht-cell,
#expense-table .ht-cell,
#total-table .ht-cell {
    width: max-content;
    text-align: right;
    margin-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#yearReport-year-selector{
    margin: 6px 2px 6px 2px;
}