.transfer-page {
    width: auto;
    margin-top: 16px;
    margin-left: 3%;
    margin-right: 1%;
    margin-bottom: 20px;
    overflow: hidden;
}

h3 {
    margin-left: 16px;
    margin-bottom: 18px;
}

#StandardTransferTable,
#AdvancedTransferTable {
    width: 100%;
}

#StandardTransferTable .ht-cell,
#AdvancedTransferTable .ht-cell {
    width: max-content;
    text-align: right;
    margin-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.form {
    padding: 8px 0 !important;
}

#TransferAdvInputDate,
#TransferStdInputDate {
    height: 43px;
    width: 100%;
}

.form label {
    margin-bottom: 4px;
}

#SubmitButtonStandard,
#SubmitButtonAdvanced {
    margin-top: 16px;
}

#CancelButtonStandard,
#CancelButtonAdvanced {
    margin-top: 20px;
    margin-left: 0px;
    background-color: red;
}

.editable-cell {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

.editable-cell:hover {
    color: #0056b3;
}

#stdTitle,
#advTitle {
    font: 20px Verdana;
    cursor: pointer;
    width: fit-content;
}

#stdTitle:hover,
#advTitle:hover {
    cursor: pointer;
    background-color: grey;
}


.selectedTable {
    font: 22px bold Verdana;
    text-decoration: underline;
    background-color: rgb(181, 181, 181);
}

#transfer-year-selector{
    width: 100%;
    margin-bottom: 8px;
    float: right;
}