* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}

.belowbody {
  margin-left: 20px;
}

h1 {
  width: auto;
  padding-bottom: 0px;
  padding-top: 26px;
  padding-left: 20px;
  padding-bottom: 6px;
  text-align: left;
  color: white;
}

header {
  height: 100%;
  line-height: 0;
  width: auto;
}

h3 {
  margin-left: 16px;
}

.banner {
  width: 100%;
  height: auto;
  display: block;
  display: block;
}

nav {
  width: auto;
  background-color: grey;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid black;
}

.nav_button {
  width: 150px;
  height: 26px;
  margin-right: 7px;
  margin-left: 7px;
  text-align: center;

}

.dropdown-report {
  margin: 20px;
}

.reptable {
  border-collapse: collapse;
  width: 90%;
}

.historytable {
  border-collapse: collapse;
  width: 78%;
}

.reptable,
.rep {
  margin-top: 8px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 1px solid;
  text-align: right;
}

.genRep_HeaderCell {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 1px solid;
  text-align: center;
  font-weight: bold;
  min-width: 45px;
  max-width: 150px;
  background-color: #b7b7b7;
}

.genRep_DataCell {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 1px solid;
  text-align: right;
  min-width: 45px;
  max-width: 100px;
}

.clikable {
  cursor: pointer;
  display: inline-block;
  padding: 2px 4px;
}
.clikable:hover {
  background-color: #b7b7b7;
}

.disabled {
  background-color: grey;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}

.container {
  display: flex;
  flex-direction: row;
}

.leftacc_container {
  width: 40%;
  float: left;
  margin-right: 48px;
}

.rightacc_container {
  width: 50%;
  float: right;
}

.table-container {
  flex: 1;
  margin-left: 5px;
  margin-top: 10px;
  margin-right: 5px;
}

.viewacc {
  width: 60%;
}

.submitrec {
  margin-left: 20px;
  width: 62px;
  height: 30px;
}

.fields_big {
  width: 165px;
}

.fields_small {
  width: 80px;
}

.SPfields {
  width: 90px;
}

.percent {
  width: 90px;
}

.standardWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}

.fields_comment {
  width: 200px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: auto;
}

label {
  margin-left: 16px;
}

a,
a:visited,
a:hover,
a:active {
  color: rgb(0, 0, 169)
}

.leftAdvRep_container {
  width: 47%;
  float: left;
  margin-right: 24px;
}

.rightAdvRep_container {
  width: 47%;
  float: right;
}

.leftYear_container {
  width: 28%;
  float: left;
}

.centerYear_container {
  width: 37%;
  float: center;
}

.rightYear_container {
  width: 33%;
  float: right;
  margin-right: 10px;
}